* { /* 전체 마진,패딩 0 */
	margin: 0;
	padding: 0;
	font-size: 12;
}

a { /* a 태그에 대한 색을 없앰 */
	text-decoration: none;
	color:inherit;
}

textarea {
	resize: none;
	width: 742px;
	height: 385px;
}

select {
	height: 20px;
}

#write_title {
	resize: none;
	width: 662px;	
	height : 20px;
}

.board_write {
	display: block;
	padding: 50px; /* 전체적인 위치를 패딩으로 조절 */
	width : 742px; /* 가로 크기 조절 */
	margin: 0 auto;
}

/* 각 div 크기 조절 */
.board_write_headCategory .select_name {
	width: 10%;
	text-align: left;
	font-weight: 600;
	font-size: 16;
}

.board_write_headCategory .select_Categori {
	width: 12%;
}

.board_write_headCategory .select_horsehead {
	width: 12%;
}

.board_write_headCategory .select_null {
	width: 66%;
}

.board_write_headCategory > div {
	display: inline-block;
	padding-bottom: 10px;
}

.write_submit {
	text-align: center;
	padding: 5px 0;
}

#btn_write_submit,
#btn_write_cansel{
	width: 70px;
	height: 22px;	
}
































