* { /* 전체 마진,패딩 0 */
	margin: 0;
	padding: 0;
}

a { /* a 태그에 대한 색을 없앰 */
	text-decoration: none;
	color:inherit;
}

.board_list_wrap {
	display: block;
	padding: 0;
	width : 847px; /* 가로 크기 조절 */
	height: 1885px;
	float: left;
	padding-left: 6px;
    box-sizing: border-box;
}

/* 각 div 크기 조절 */
.board_list .date {
	width: 15%;
}

.board_list .writer,
.board_list .HitChk,
.board_list .goodview,
.board_list .num {
	width: 10%;
}

.board_list .tit {
	width: 40%;
}

/* 게시판 이름 관련  */
.board_categori {
	text-align: left;
	font-size: 20px;
	padding-bottom: 10px;
}


.board_list_head {
	border-top: 2px solid green;
	border-bottom: 1px solid #ccc;
}

.board_list_body .item {
	border-bottom: 1px solid #ccc
}

.board_list_head,
.board_list_body .item {
	font-size: 0;
	padding: 10px 0;
}

.board_list_head > div,
.board_list_body .item > div {
	display: inline-block;
	font-size: 14px;
	text-align: center;
}

.board_list .board_list_head > div {
	font-weight: 600;
}

.board_list_body div.tit {
	text-align: left;
}

.board_list_body div.tit a:hover {
	text-decoration: underline;
}

.board_btn_writer {
	text-align: right;
	padding: 5px 0;
}

#btn_writer {
	width: 70px;
	height: 22px;
}

.board_list_pageNum > div {
	display: inline-block;
}

.board_list_pageNum {
	text-align: center;
}

.board_list_pageNum a:hover {
	text-decoration: underline;
}






























