@charset "UTF-8";

/* 
설명 
	1. # 은 id 선택자로서 1개만 적용하는데 사용
	2. . 은 class 선택자로서 여러개를 동시 적용하는데 사용
	3. class 선택자는 하나의 태크에 여러개를 적용 가능( jsp에서는 띄어쓰기로 구분, css에서는 붙어야함)
	4. #abc > ul 같은 경우 id가 'abc'의 자식 ul태그를 지정 하는것
*/

/* 전체적 기본 초기화 */
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

/* 메인화면 큰틀 설정 */
#mainLayout {
	width: 1397px; /* 넓이 설정 */
	height: auto;
	margin: 0 auto; /* 가운데 설정 */
}

/* 메인화면 영역설정(배너광고 제외) */
#main {
	width: 1092px; 
	float: left; /* 배너광고때문에 위치 왼쪽 설정 */
	margin-right: 5px; /* 배너광고와 여백 거리 설정 */
	overflow: hidden;
}

/* 헤더영역 전체 크기 설정(로고라인 및 메뉴바) */
#header {
	width: 1092px;
	height: 200px;
	margin-bottom: 5px;
}

/* 헤더-로고라인 크기 설정 */
#header-top {
	width: 1092px;
	height: 150px;
	margin-bottom: 5px;
}

/* 헤더-로고 영역 설정 */
#header-logo {
	width: 275px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	float: left;
	border: 1px solid;
	box-sizing: border-box;
}

/* 헤더-로고 이미지 크기 설정 */
#header-logo > a > img {
	width: 275px;
	height: 150px;
}

/* 헤더-검색 영역 설정 */
#header-search {
	width: 500px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	margin: 0 17px;
	float: left;
	border: 1px solid;
	box-sizing: border-box;
}

/* 헤더-로그인 영역 설정 */
#header-login {
	width: 275px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	border: 1px solid;
	float: right;	
	box-sizing: border-box;
}

/* ul 스타일 설정 */
#header-login > ul {
	width: 275px;
	height:150px;
	line-height:150px;
	list-style-type: none;
}

/* li 가로 정렬 */
#header-login > ul > li {
	width:137.5px;
	box-sizing: border-box;
	float: left;
}

/* 링크 범위 설정 */
#header-login > ul > li > a {
	padding: 10px 30px;
}

/* 메뉴바 영역 크기 설정 */
#header-navigation {
	width: 1092px;
	height: 45px;
	border: 1px solid;
	box-sizing: border-box;
}

/* 메인메뉴 ul 스타일 설정 */
#header-navigation-main {
	width: 100%	;
	height: 45px;
	line-height: 45px;
	list-style-type: none; /* 도형 스타일 없애기 */
}

/* 메인메뉴 ul > li 스타일 설정 */
#header-navigation-main > li {
	position: relative; /* 서브 메뉴때문에 위치를 상대적으로 변경  */
	float: left; /* 정렬을 left로 해서 가로로 보이도록  */
	width: 25%;
	height: 45px;
	text-align: center;
	border-right: 1px solid;
	box-sizing: border-box;
}

/* 메인메뉴 ul > 마지막 li 스타일 설정 */
#header-navigation-main > li:last-child {
	border-right: 0px;
	box-sizing: border-box;
}

/* 메인메뉴 링크 범위 설정 */
#header-navigation-main > li > a {
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;	
}

/* 각 메인메뉴 위에 마우스를 올려두면 서브메뉴 보이게 설정 */
#header-navigation-main > li:hover .header-navigation-sub {
	opacity: 1; /* 불투명하게 재설정  */
	visibility: visible; /* 다시 보이도록 재설정 */
}

/* 서브메뉴 ul 설정(기본적으로 안보임) */
.header-navigation-sub {
	list-style-type: none; /* 도형 스타일 없애기 */
	opacity: 0; /* 완전투명 */
	visibility: hidden; /* 자리는 차지하나 보이지 않도록 */
	border: 1px solid;
	box-sizing: border-box;
	
	/* 색상 */
	background-color: white;
}

/* 서브메뉴 ul li 설정  */
.header-navigation-sub > li {
	float: none;
	border-bottom: 1px solid;
	box-sizing: border-box;
	text-align: center;
}

.header-navigation-sub > li:last-child {
	border-bottom: 0px ;

}

/* 서브메뉴 링크 범위 설정 */
.header-navigation-sub > li > a {
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

/* 중간 영역 */
#content{
	width: 1092px;
	height: 1885px;
	margin-bottom: 5px;
}

/* 왼쪽 사이드바 */
#aside {
	width: 235px;
	float: left;
	border: 1px solid black;
	box-sizing: border-box;
}

/* 사이드바 로그인 영역 */
#aside-login {
	width: 235px;
	height: 80px;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}

/* 로그인버튼 영역 */
#aside-login_buttom {
	width: 235px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

/* 로그인버튼 클릭영역 */
#aside-login_buttom > a {
	border: 1px solid;
	padding: 7px 50px;
	box-sizing: border-box;
}

/* 회원가입, id.pw찾기 영역 설정  */
#aside-login_member {
	width: 235px;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	text-align: center;
	font-size: 15px;
	
}
#aside-login_member > a {
	display: inline-block;
	width: 33.33%;
	border-right: 1px solid;
	margin-right: -5px;
	box-sizing: border-box;
	text-align:center;
}
#aside-login_member > a:last-child {
	border-right: 0px; /* 마지막 글자의 border는 안나오게 표시  */
}

/* 사이드바 공지사항 바로가기 영역 */
#aside-notice {
	width: 235px;
	height: 72px;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}

/* 사이드바 e-스포츠 바로가기 영역 */
#aside-esport {
	width: 235px;
	height: 162px;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}

/* 사이드바 스포츠 바로가기 영역 */
#aside-sport {
	width: 235px;
	height: 162px;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}

/* 사이드바 문화생활 바로가기 영역 */
#aside-culture {
	width: 235px;
	height: 162px;
}

/* 사이드바 바로가기 제목 스타일 */
.aside-link_title  {
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	padding-left: 5px;
	box-sizing: border-box;
}

/* 사이드바 바로가기 메뉴 스타일 */
.aside-link_menu {
	display: block;
	height: 30px;
	font-size: 15px;
	padding: 5px 0 5px 10px;
	box-sizing: border-box;
}

/* 사이드바 바로가기 메뉴에 마우스를 올렸을 때 설정 */
.aside-link_menu:hover {
	background-color: #ccc;
}

/* 중간영역 */
#section {
	width: 857px;
	height: auto;
	padding-left: 6px;
	box-sizing: border-box;
	float: left;
}

/* 최신 및 인기 게시물 - 공지사항 게시판 영역 */
#section-notice {
	height: 150px;
	border: 1px solid;
	padding: 5px 5px 0 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
}

/* 공지사항 게시글 영역 */
#section-notice-content {
	width: 100%;
	height: 90px;
}

/*  공지사항 게시글 배치 스타일 */
#section-notice-content > ul {
	height: 90px;
	list-style-position : inside;
}
#section-notice-content > ul > li {
	padding: 3px 0 3px 10px;
	border-bottom: 1px solid #e9e9e9;
	box-sizing: border-box;
}

/* 최신 및 인기 게시물 - 카테고리 게시판 영역 */
#section-category {
	height: auto;
	box-sizing: border-box;
}

/* 최신 및 인기 게시물 - e스포츠 게시판 영역 */
#section-esport {
	border: 1px solid; 
	padding: 5px 5px 0 5px;
	box-sizing: border-box;
	margin-bottom: 5px;
}

/* 최신 및 인기 게시물 - 스포츠 게시판 영역 */
#section-sport {
	border: 1px solid; 
	padding: 5px 5px 0 5px;
	box-sizing: border-box;
	margin-bottom: 5px;
}

/* 최신 및 인기 게시물 - 문화생활 게시판 영역 */
#section-culture {
	border: 1px solid; 
	padding: 5px 5px 0 5px;
	box-sizing: border-box;
}

/* 카테고리 별 탭메뉴 영역 설정*/
#section-category-esport { /* e-스포츠 */
	width: 100%;
	height: auto;
	overflow: hidden;
}
#section-category-sport { /* 스포츠  */
	width: 100%;
	height: auto;
	overflow: hidden;
}
#section-category-culture { /* 문화생활 */
	width: 100%;
	height: auto;
	overflow: hidden;
}

/* 탭메뉴 ul 도형 스타일 제거  */
#section-category-esport > ul {
	list-style-type: none;
	overflow: hidden;
}
#section-category-sport > ul {
	list-style-type: none;
	overflow: hidden;
}
#section-category-culture > ul {
	list-style-type: none;
	overflow: hidden;
}

/* 탭 메뉴 가로 정렬  */
#section-category-esport > ul > li {
	float: left;
}
#section-category-sport > ul > li {
	float: left;
}
#section-category-culture > ul > li {
	float: left;
}

/* 탭메뉴 문자 스타일  */
#section-category-esport > ul > li > a {
	display: inline-block;
	color: #000;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	box-sizing: border-box;
}
#section-category-sport > ul > li > a {
	display: inline-block;
	color: #000;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	box-sizing: border-box;
}
#section-category-culture > ul > li > a {
	display: inline-block;
	color: #000;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	box-sizing: border-box;
}

/* 현재 선택된 li(탭메뉴)의 배경색 변경 */
#section-category-esport > ul > li.current {
	background : #ccc;	
} 
#section-category-sport > ul > li.current {
	background : #ccc;	
} 
#section-category-culture > ul > li.current {
	background : #ccc;	
}  

/* 게시물 내용 영역*/
.section-category-esport-context {
	display: none; /* 기본적으로 보이지 않음, 공간 차지 없음 */
}
.section-category-sport-context {
	display: none; 
}
.section-category-culture-context {
	display: none; 
}

/* 탭메뉴 선택에 해당하는 게시물 */
.section-category-esport-context.current {
	display: block;
	height: auto;
	margin-top: 5px;
}
.section-category-sport-context.current {
	display: block;
	height: auto;
	margin-top: 5px;
}
.section-category-culture-context.current {
	display: block;
	height: auto;
	margin-top: 5px;
}

/* 인기 게시글 영역 */
.popularity-context {
	height: 130px;
}

/* 최근 게시글 영역 */
.new-context {
	height: 330px;
}

/* 게시글 ul 도형 스타일 설정 */
.board_content > ul {
	list-style-type: none;
}

/* 게시글 제목 여백 설정 */
.board_content > ul > li {
	padding: 3px 0 3px 10px;
	border-bottom: 1px solid #e9e9e9;
	box-sizing: border-box;
}

/* 푸터 영역 설정 */
#footer {
	width: 1092px;
	height: 151px;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 2px;
} 

/* 푸터 로고 영역  */
#footer-logo {
	width: 301px;;
	height: 150px;
	line-height:150px;
	border-right: 1px solid;
	box-sizing:border-box;
	float: left;
} 

/* 푸터 로고 이미지 크기 조정 */
#footer-logo > a > img {
	width: 275px;
	height: 150px;
}

/* 제작자 정보 */
#footer-info {
	float: left;
 	padding: 53px 0 0 215px;
 	box-sizing: border-box;
}

/* 배너광고 영역 */
#banner {
	width: 300px;
	height: auto;
	float: right;
} 

/* 배너광고 각 이미지 영역 */
.banner_size {
	width: 300px;
	height: 200px;
	margin-bottom: 10px;
	/* 영역 확인용 */
	border: 1px solid;
	box-sizing: border-box;
}

/* 최신 및 인기 게시물 - 제목 스타일 */
.section-title {
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	font-weight: bold;
	box-sizing: border-box;
}

/* 최신 및 인기 게시물 - 서브제목 스타일 */
.section-subtitle {
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	padding-left: 5px;
	box-sizing: border-box;
}

/* form태그 각 타입 설정 */
.input_button {
	background-color: #fff;
	border: 1px solid #e3e3e3;
	padding: 10px 20px;
	font-size: 15px;
}
.input_text {
	border: 1px solid #e3e3e3;
	padding: 10px 20px;
	font-size: 15px;
}
.input_select {
	border: 1px solid #e3e3e3;
	padding: 10px 20px;
	font-size: 15px;
}