@charset "UTF-8";

/* 전체 큰 틀 */
#sr_main {
	width: 857px;
	height: 1885px;
	padding-left: 6px;
	box-sizing: border-box;
	float: left;
}

/* 페이지 내 검색 */
#sr_search {
	width: 100%;
	height: 100px;
	line-height: 100px;
	border: 1px solid;
	padding: 0 5px;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 5px;
}

/* 페이지 검색결과 영역 */
#sr_content {
	width: 100%;
	height: 1785px;
}

/* e스포츠 영역 */
#sr_list_esport {
	width: 100%;
	height: 430px;
	border-bottom: 1px solid #e1e1e1;
	box-sizing: border-box;
	overflow: hidden;
}
/* 스포츠 영역 */
#sr_list_sport {
	width: 100%;
	height: 430px;
	border-bottom: 1px solid #e1e1e1;
	box-sizing: border-box;
	overflow: hidden;
}
/* 문화생활 영역 */
#sr_list_culture {
	width: 100%;
	height: 430px;
	border-bottom: 1px solid #e1e1e1;
	box-sizing: border-box;
	overflow: hidden;
}


/* 카테고리 제목 영역 */
.sr_list_header {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	box-sizing: border-box;
}

/* 카테고리 제목 */
.sr_list_header > h3 {
	font-size:  20px;
	font-weight: bold;	
}

/* 카테고리 내용 영역 */
.sr_list_content {
	display: block;
	width: 100%;
	height: 120px;
}

/* 카테고리 제목, 내용 */
.sr_list_content > span {
	width:100%;
	display: block;
	padding: 5px 5px 5px 20px;
	box-sizing:border-box;
	font-size: 15px;
}
.sr_list_content > span.sr_span_title {
	/* 한줄, ...표시 */
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}
.sr_list_content > span.sr_span_content {
	/* 두줄, ...표시 */
	white-space: normal; 
	line-height: 1.2;
	height: 2.4em;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
}

/* 카테고리 경로, 작성일자 영역*/
.sr_list_content_ {
	width:100%;
	height:30px;
	line-height:30px;
	display: block;
	float: none;
}

/* 카테고리 경로, 작성일자 */
.sr_list_content_ > span {
	display: inline-block;
	float:left;
	padding-left: 20px;
	box-sizing:border-box;
	font-size: 13px;
}

/* 해당 카테고리 더보기 영역 */
.sr_list_more {
	width: 100%;
	height: 20px;
	line-height: 20px;
	float: none;
}

/* 해당 카테고리 더보기 */
.sr_list_more > span {
	display:inline-block;
	float: right;
	padding-right:20px; 
	font-size: 15px;
}

/* form태그 각 타입 설정 */
.sr_input_button {
	width: 50px;
	height: 40px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	padding: 10px 10px;
	font-size: 15px;
}

.sr_input_text {
	width: 250px;
	height: 40px;
	border: 1px solid #e3e3e3;
	padding: 5px;
	box-sizing: border-box;
	font-size: 15px;
}
.sr_input_select {
	width: 100px;
	height: 40px;
	border: 1px solid #e3e3e3;
	padding: 10px 5px;
	box-sizing: border-box;
	font-size: 15px;
}