@charset "UTF-8";

/* 헤더영역 전체 크기 설정(로고라인 및 메뉴바) */
#header {
	width: 1092px;
	height: 200px;
	margin-bottom: 5px;
}

/* 헤더-로고라인 크기 설정 */
#header-top {
	width: 1092px;
	height: 150px;
	margin-bottom: 5px;
}

/* 헤더-로고 영역 설정 */
#header-logo {
	width: 300px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	float: left;
	border: 1px solid;
	box-sizing: border-box;
}

/* 헤더-로고 이미지 크기 설정 */
#header-logo > a > img {
	width: 300px;
	height: 150px;
}

/* 헤더-검색 영역 설정 */
#header-search {
	width: 480px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	margin: 0 6px;
	float: left;
	border: 1px solid;
	box-sizing: border-box;
	position: relative;
}

/* 헤더-로그인 영역 설정 */
#header-login {
	width: 300px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	border: 1px solid;
	float: right;	
	box-sizing: border-box;
}

/* ul 스타일 설정 */
#header-login > ul {
	width: 300px;
	height:150px;
	line-height:150px;
	list-style-type: none;
}

/* li 가로 정렬 */
#header-login > ul > li {
	width:150px;
	box-sizing: border-box;
	float: left;
}

/* 링크 범위 설정 */
#header-login > ul > li > a {
	padding: 10px 30px;
}

/* 메뉴바 영역 크기 설정 */
#header-navigation {
	width: 1092px;
	height: 45px;
	border: 1px solid;
	box-sizing: border-box;
}

/* 메인메뉴 ul 스타일 설정 */
#header-navigation-main {
	width: 100%	;
	height: 45px;
	line-height: 45px;
	list-style-type: none; /* 도형 스타일 없애기 */
}

/* 메인메뉴 ul > li 스타일 설정 */
#header-navigation-main > li {
	position: relative; /* 서브 메뉴때문에 위치를 상대적으로 변경  */
	float: left; /* 정렬을 left로 해서 가로로 보이도록  */
	width: 25%;
	height: 45px;
	text-align: center;
	border-right: 1px solid;
	box-sizing: border-box;
}

/* 메인메뉴 ul > 마지막 li 스타일 설정 */
#header-navigation-main > li:last-child {
	border-right: 0px;
	box-sizing: border-box;
}

/* 메인메뉴 링크 범위 설정 */
#header-navigation-main > li > a {
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;	
}

/* 각 메인메뉴 위에 마우스를 올려두면 서브메뉴 보이게 설정 */
#header-navigation-main > li:hover .header-navigation-sub {
	opacity: 1; /* 불투명하게 재설정  */
	visibility: visible; /* 다시 보이도록 재설정 */
}

/* 서브메뉴 ul 설정(기본적으로 안보임) */
.header-navigation-sub {
	list-style-type: none; /* 도형 스타일 없애기 */
	opacity: 0; /* 완전투명 */
	visibility: hidden; /* 자리는 차지하나 보이지 않도록 */
	border: 1px solid;
	box-sizing: border-box;
	
	/* 색상 */
	background-color: white;
}

/* 서브메뉴 ul li 설정  */
.header-navigation-sub > li {
	float: none;
	border-bottom: 1px solid;
	box-sizing: border-box;
	text-align: center;
}

.header-navigation-sub > li:last-child {
	border-bottom: 0px ;

}

/* 서브메뉴 링크 범위 설정 */
.header-navigation-sub > li > a {
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

/* form태그 각 타입 설정 */
.input_button {
	position:absolute;
	left: 390px;
	top: 55px;
	width: 50px;
	height: 40px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	padding: 10px 10px;
	font-size: 15px;
}
.input_text {
	position:absolute;
	left: 140px;
	top: 55px;
	width: 250px;
	height: 40px;
	border: 1px solid #e3e3e3;
	padding: 5px;
	box-sizing: border-box;
	font-size: 15px;
}
.input_select {
	position:absolute;
	left: 40px;
	top: 55px;
	width: 100px;
	height: 40px;
	border: 1px solid #e3e3e3;
	padding: 10px 5px;
	box-sizing: border-box;
	font-size: 15px;
}