@charset "UTF-8";

@font-face {
	font-family: "Binggrae";
/* 	src:url("/hobby/resources/font/Binggrae-Bold.ttf") format("truetype"); */
	src:url("/hobby/resources/font/Binggrae-Bold.otf") format("opentype");
}

/* 전체적 기본 초기화 */
* {
	font-family: Binggrae;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

#emptyLayout {
	width: 1092px;
	height:1170px;
	margin: 0 auto;
}

#emptyLayout-content {
	width: 1092px;
	height: 800px;
	overflow: hidden;
}