@charset "UTF-8";

/* 글꼴 설정 */
@font-face {
	font-family: "Binggrae";
	src:url("/hobby/resources/font/Binggrae-Bold.otf") format("opentype");
}

/* 전체적 글꼴, 여백 초기화 */
* { 
	font-family: Binggrae;
	margin: 0;
	padding: 0;
}
 
/* 전체적 a태그 스타일 초기화 */
a {
	text-decoration: none;
	color: black;
}

/* 레이아웃 영역 */
#mainLayout {
	width: 1397px; 
	height: auto;
	margin: 0 auto; 
}

/* 메인화면 영역설정(배너광고 제외) */
#main {
	width: 1092px; 
	float: left; 
	margin-right: 5px;
	overflow: hidden;
}

/* 메인화면 중간영역 */
#content {
	width: 1092px;
	height: 1885px;
	margin-bottom: 5px;
}

/* 배너광고 영역 */
#banner {
	width: 300px;
	height: auto;
	float: right;
	margin-top: 105px;
} 

/* 배너광고 각 이미지 영역 */
.banner_size {
	width: 300px;
	height: 700px;
	margin-bottom: 10px;
	/* 영역 확인용 */ 
	border: 1px solid;
	box-sizing: border-box;
}

/* 배너광고 이미지 크기 설정 */
.banner_size > img { max-width: 300px; max-height: 700px; }