@charset "UTF-8";


.box{
 	width:500px;
    
    
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:50%;
    left:50%;
	
}
.writeForm{
	width:500px;
	height:500px;
	
}