@charset "UTF-8";

.mem_create_account_view {
	width:1092px;
	height:800px;
}
 
#mem_create_title {
	font-size:70px;
	margin-bottom:20px;
	text-align:center;
}

.mem_create_id {
	height:40px;
	margin-bottom:15px;
}

#memId {
	width:250px;
	height:40px;
	font-size:15px;
	box-sizing: border-box;
}

#idcheck {
	width:80px;
	height:40px;
	margin-left:5px;
}

.mem_create_pw {
	height:40px;
	margin-bottom:15px;
}

#memPw {
	width:250px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

.memEx {
	font-size: 13px;
}

.mem_create_rpw {
	height:40px;
	margin-bottom:15px;
}

#mempwdCheck {
	width:250px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

.mem_create_pwhint {
	height:40px;
	margin-bottom:15px;
}

#memPwHint {
	width:254px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

.mem_create_pwans {
	height:40px;
	margin-bottom:15px;
}

#memPwAns {
	width:250px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

.mem_create_name {
	height:40px;
	margin-bottom:15px;
}

#memName {
	width:250px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

.mem_create_brith_sex {
	height:40px;
	margin-bottom:15px;
}

#brith1 {
	width:90px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

#brith2 {
	width:50px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

#brith3 {
	width:50px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

.mem_create_city {
	height:40px;
	margin-bottom:15px;
}

#memRegion {
	width:100px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

#memCity {
	width:145px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

.mem_create_email {
	height:40px;
	margin-bottom:15px;
}

#email1 {
	width:110px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

#email2 {
	width:108px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

#checkEmail {
	width:100px;
	height:40px;
	box-sizing: border-box;
	margin-left:5px;
}

.mem_email_cer {
	height:40px;
	margin-bottom:15px;
}

#checkEmailNumber {
	width:250px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;	
}

#checkEmail2 {
	width:60px;
	height:40px;
	margin-left:5px;
}

.mem_create_phone {
	height:40px;
	margin-bottom:15px;
}

#smartPhone {
	width:57px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

#smartPhone1 {
	width:70px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

#smartPhone2 {
	width:70px;
	height:40px;
	box-sizing: border-box;
	font-size:15px;
}

#checkPhone {
	width:60px;
	height:40px;
	margin-left:5px;
}

.mem_create_hobby {
	height:45px;
	margin-bottom:10px;
	font-size:20px;
}

.mem_create_btnjoin {
	height:50px;
	text-align:center;
}

.mem_create_span {
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	font-size:25px;
	text-align:right;
}

#join {
	width:200px;
	height:50px;
	font-size:25px;
}