@font-face {
   font-family: "Binggrae";
   src:url("Binggrae-Bold.otf") format("opentype");
}

*{
	font-family: "Binggrae";
}

.mem_myInfo {
	width:852px;
	border:1px solid black;
	box-sizing: border-box;
	margin-left: 5px;
	float: left;
	padding:10px;
}

#mem_myInfo_title {
	text-align:center;
}

.mem_myInfo_section {
	text-align:center;
}

.mem_myInfo_Button {
	width:200px;
	height:50px;
	font-size:25px;
	margin-bottom:10px;
}