@charset "UTF-8";

.mem_myInfo_modify {
	width:1092px;
	border:1px solid black;
	padding: 20px 150px;
	box-sizing: border-box;
	margin-top: 100px;
}

#mem_myInfo_modify_title {
	text-align:center;
	font-size:50px;
}

.member_modify{
	width:100%;
}

.mem_myInfo_modify_name{
	height:50px;
	line-height: 50px;
	margin-bottom:20px;
}

.mem_myInfo_modify_phone{
	height:50px;
	margin-bottom:20px;
}

#memPhone {
	width:300px;
	height:40px;
	font-size:25px;
	margin-left:10px;	
}

.mem_myInfo_modify_email{
	height:50px;
	margin-bottom:20px;
}

#memEmail {
	width:300px;
	height:40px;
	font-size:25px;
	margin-left:10px;	
}

.mem_myInfo_modify_city{
	height:50px;
	margin-bottom:20px;
}

#memRegion {
	width:150px;
	height:40px;
	font-size:25px;
	margin-left:10px;
}

#memCity {
	width:150px;
	height:40px;
	font-size:25px;
	margin-left:10px;
}

.mem_myInfo_modify_brith{
	height:50px;
	margin-bottom:20px;
}

#memBirth {
	width:300px;
	height:40px;
	font-size:25px;
	margin-left:10px;
}

.mem_myInfo_modify_btn{
	height:50px;
	text-align:right;
	margin-bottom:10px;
	margin-right:10px;
}

#memChange {
	width:200px;
	height:50px;
	font-size:25px;	
}
.mem_myInfo_modify_span{
	display: inline-block;
	width: 200px;
	height: 30px;
	text-align:right;
	font-size:30px;
}

#memSpan {
	font-size:25px;
	margin-left:10px;
}