@charset "UTF-8";

.mem_pwSearch {
	width:1092px;
	border:1px solid black;
	padding: 20px 200px;
	box-sizing: border-box;
	margin-top: 100px;
}

.mem_pwSearch_title {
	text-align:center;
}

#pwSearch_title{
	font-size:50px;
}

.mem_pwSearch_id {
	height:50px;
	margin-bottom:10px;
}

#memId {
	width:300px;
	height:50px;
	font-size:25px;
	margin-left:10px;
}

.mem_pwSearch_hint {
	height:50px;
	margin-bottom:10px;
}

#memPwHint {
	width:300px;
	height:50px;
	font-size:25px;
	margin-left:10px;
}

.mem_pwSearch_anwser {
	height:50px;
	margin-bottom:20px;
}

#memPwAns {
	width:300px;
	height:50px;
	font-size:25px;
	margin-left:10px;
}

.mem_pwSearch_btn {
	height:50px;
	text-align:right;
	margin-bottom:10px;
	margin-right:10px;
}

#memSearch {
	width:200px;
	height:50px;
	font-size:25px;
}

#memLogin {
	width:200px;
	height:50px;
	font-size:25px;
}

.pwSearch_span{
	display: inline-block;
	width: 130px;
	height: 30px;
	text-align:right;
	font-size:30px;
}