@charset "UTF-8";

.mem_pwSearch {
	width:1092px;
	height:800px;
	padding-top: 200px;
	box-sizing: border-box;
}

.mem_pwSearch_title {
	margin-bottom: 15px;
	text-align:center;
}

#pwSearch_title{
	font-size:70px;
}

.mem_pwSearch_id {
	height:50px;
	padding-left: 200px;
	box-sizing: border-box;
	margin-bottom: 10px; 
}

#memId {
	width:250px;
	height:50px;
	box-sizing: border-box;
	margin-left:10px;
	font-size:15px;
}

.mem_pwSearch_hint {
	height:50px;
	padding-left: 200px;
	box-sizing: border-box;
	margin-bottom: 10px; 
}

#memPwHint {
	width:254px;
	height:50px;
	box-sizing: border-box;
	margin-left:10px;
	font-size:15px;
}

.mem_pwSearch_anwser {
	height:50px;
	padding-left: 200px;
	box-sizing: border-box;
	margin-bottom: 20px; 
}

#memPwAns {
	width:250px;
	height:50px;
	box-sizing: border-box;
	margin-left:10px;
	font-size:15px;
}

.mem_pwSearch_btn {
	height:50px;
	padding-right:100px;
	box-sizing: border-box;
	text-align:right;
}

#memSearch {
	width:200px;
	height:50px;
	font-size:25px;
}

#memLogin {
	width:200px;
	height:50px;
	font-size:25px;
}

.pwSearch_span{
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align:right;
	font-size:25px;
}