<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobby.mappers.board">


	<!--검색 기능 by 김정태-->
	<!-- 제목 검색 게시물 총 갯수 (0605 추가) -->
	<select id="searchCount" parameterType="String" resultType="int">
		select count(bdCno) from board
			WHERE bdTitle LIKE CONCAT ('%', #{keyword}, '%');
	</select>
	
	<!--통합 게시물 제목 검색 -->
	<select id="listPageSearch" parameterType="String" resultType="com.daelim.hobby.Vo.VOBoard">
		select
			bdCno, bdTitle, bdContent, bdName, bdDate, bdCategory, bdValue as value
		from board
			WHERE bdTitle LIKE concat('%', #{keyword}, '%')
			order by bdCno desc
			limit 0,3
	</select>
	
	<!-- 메인 화면 인기 게시물 표시 201006추가-->
	<select id="hitList" resultType="com.daelim.hobby.Vo.VOBoard">
	 	select
	  		bdCno, bdTitle, bdContent, bdName, bdDate, bdCategory, bdHit, bdLike, bdValue as value
	 	from board
	 	order by bdLike desc
	 	limit 0,2
	</select>
	
	
	<!-- 메인 화면 최근 게시물 표시 201006추가-->
	<select id="recentList" resultType="com.daelim.hobby.Vo.VOBoard">
	 	select
	  		bdCno, bdTitle, bdContent, bdName, bdDate, bdCategory, bdHit, bdLike, bdValue as value
	 	from board
	 	order by bdDate desc
	 	limit 0,9
	</select>
</mapper>